
* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: antiquewhite;
}

a {
    margin-right: 15px;
    font-size: 20px;
}

a:hover {
    font-size: x-large;
    background-color:lightblue;
}

h1 {
    display: flex;
    text-align: center;
    flex-direction: column;
}

p {
    font-size: 20px;
} 

header {
    display: flex;
    background-color: antiquewhite;
    padding-top: 4px !important;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px black solid;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    list-style-type: none;
    text-align: right;
    flex-wrap: wrap;
}

li {
    font-size: 18px;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color:lavender;
    padding: 20px 10px 20px 10px;
    border: 2px black solid;
    justify-content: center;
    position: relative;
}

footer {
    background-color: antiquewhite;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px black solid;
}


/* home page */
.pictureBackground {
    /* idk if I will keep this pic or change it. It's poor quality but I love this pic of myself*/
    background-image: url("ocean.jpg");
    background-color: #cccccc;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
     /* height: 500px;  */
    /* position: absolute; */ 
}
.hello {
    position: absolute;
    top: 30px;
}
.pictureBackground p {
    text-align: center;
    font-size: 25px;
    color: white;
    margin-top: 100px;
}
/* p.paragraph {
    text-align: center;
    font-size: 25px;
    color: white;
} */


/* about page */
.about {
    padding-top: 12px;
}


/* portfolio page */
@media (max-width:700px){
    .codepic{
        width: 100%;
    }
    .main {
        width: 100%;
    }  
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}


/* contact me page */
@media (max-width:700px){
    .textArea{
        width: 100%;
    }
}
/* form { */
    /* display: flex; */
    /* flex-direction: column; */
/* } */