
* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: antiquewhite;
}

a {
    margin-right: 10px;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
}

a:hover {
    font-size: x-large;
    background-color:lightblue;
}

h1 {
    display: flex;
    text-align: center;
    flex-direction: column;
}

p {
    font-size: 20px;
} 

header {
    display: flex;
    background-color: antiquewhite;
    padding-top: 4px !important;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px black solid;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    list-style-type: none;
    text-align: right;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    font-size: 18px;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color:lavender;
    padding: 20px 10px 20px 10px;
    border: 2px black solid;
    justify-content: center;
    position: relative;
}

footer {
    background-color: antiquewhite;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px black solid;
}


/* HOME PAGE */
.pictureBackground {
    /* idk if I will keep this pic or change it. It's poor quality but I love this pic of myself*/
    display: flex;
    flex-direction: column;
    background-image: url("ocean.jpg");
    background-color: #cccccc;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    justify-content: space-between;
}

.hello {
    flex: 1;
    
}

.hello h1 {
    background-color: rgba(191, 191, 191, 0.5);
}

.pictureBackground p {
    text-align: center;
    font-size: 25px;
    color: white;
    margin-top: 100px;
}

p.secondSentence {
    margin-bottom: 150px;
}


/* about page */
.about {
    /* display: flex; */
    /* flex-direction: column; */
    padding-top: 12px;
}


/* PORTFOLIO PAGE */
@media (max-width:700px){
    .codepic {
        width: 100%;
    }
    .main {
        width: 100%;
    }  
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 70px;
}

.portfolioParagraphs {
    margin: 5px;
}

/* CONTACT ME PAGE */
@media (max-width:700px){
    .textArea{
        width: 100%;
    }
}

form { 
    display: flex;
    flex-direction: column;
} 

button {
    width: 60px;
    margin-top: 20px;
}

input {
    width: 30%;
    min-width: 300px;
    margin-bottom: 25px;
}

.contactMe {
    padding-bottom: 50px;
}

embed {
    width: 80%;
    margin: 0 auto;
    height: 600px;
}